.search__wrapper {
  background: var(--color-primary-light);
  padding: 5px 10px;
  color: var(--color-secondary);
  margin-right: 15px;
  height: 32px;
  font-size: 16px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date__wrapper {
  background: var(--color-primary-light);
  padding: 5px 10px;
  color: var(--color-secondary);
  margin-right: 15px;
  height: 32px;
  width: 50%;
  font-size: 12px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  outline: none;
  border: none;
  background: transparent;
  color: var(--color-secondary);
  min-width: 250px;
}

.select {
  outline: none !important;
  border: none !important;
  background: transparent !important;
  height: 32px !important;
  padding: 0 10px !important;
  color: var(--color-secondary) !important;
}

.new__book {
  height: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
}

.new__book:hover {
  text-decoration: none;
  color: var(--color-white);
}

.icons {
  font-size: 28px !important;
  line-height: 16px !important;
  padding-right: 15px;
  color: var(--color-secondary);
  cursor: pointer;
}

.icons:hover {
  color: var(--color-primary);
}

.icons:last-child:hover {
  color: var(--danger);
}

.delivered {
  color: #66c989 !important;
  text-transform: capitalize;
}

.canceled {
  text-transform: capitalize;
  color: #d73b62 !important;
}

@media screen and (max-width: 767px) {
  .search__wrapper {
    width: 100%;
  }
}
