.heading {
  color: var(--color-brown) !important;
  text-align: center !important;
}

.item__wrapper {
  background: #f6f5f3;
  display: flex;
}

.key {
  flex: 1;
  border-right: 1px solid #dcdcdc;
  padding: 5px;
}

.value {
  flex: 4;
  padding: 5px;
  padding-left: 10px;
}

.item {
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.item:hover {
  background: var(--color-primary-light) !important;
  transition: 0.3s all ease-in-out;
}
