.card {
  display: block;
  width: 100%;
  height: auto;
  padding: 10px 0;
  background: var(--color-white);
}

.header {
  padding: 8px 15px 8px 30px;
  font-weight: 500;
  font-size: 20px;
  border-bottom: 1px solid var(--color-light);
}

.body {
  padding: 8px 15px;
}
